/*Applicable for only when mininum width of the browser is greater than 700px*/

@media screen and (min-width:700px) {
    .udacity-logo {
        height:60%;
        width:60%;
    }
    .center-image {
        margin:2%;
    }
}
