/*Applicable for only when mininum width of the browser is greater than 400px*/

@media screen and (min-width:400px) {
    .featured-image {
        width:40%;
    }
    .row {
        display:flex;
    }
    .udacity-logo {
        height:50%;

    }
}
